/*   

Theme Name: PandoraBox
Theme URI: iltaen.com/pandorabox
Description: Mobile Develop Onepage WordPress Template
Author: iltaen
Author URI: http://themeforest.net/user/Iltaen
License: GNU General Public License
License URI: license.txt
Tags: green, white, fluid-layout, responsive-layout, one-column, custom-colors, featured-images, full-width-template, post-formats, sticky-post, theme-options
Version: 1.3.7
Text Domain: pandorabox

*/

#page-hero #description-home p{
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.block .block-container.text-left{
	text-align: left;
}

#what-we-do p{
	margin-bottom: 20px;
}

.mb-45{
	margin-bottom: 45px;
}

#benefits p{
	margin-bottom: 20px;
}

#benefits ul{
	margin-bottom: 20px;
}

#benefits h4{
	color: #0082a3;
}

#contact-us-today{
	padding-bottom: 0;
}

#contact-us-today .block-container .title{
	text-align: left;
}

#contact-us-today .block-container .description{
	text-align: left;
}

@media (min-width: 992px) {
	#page-hero #description-home p{
		margin-left: 110px;
		padding-left: 0;
		padding-right: 0;
	}
}